/* This file is for your main application css. */

@import './phoenix.css';

/*  this is optional */
@import '../../deps/phoenix_live_view/assets/css/live_view.css';

.definition {
  display: flex;
  justify-content: space-between;
}

.example {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px;
}
